@using PokePoke.Core.Application.ViewModels.Region;
@model SaveRegionViewModel;
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = (editMode ? $"Editando region" : "Creando nueva region");
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editando region{Model.Name}" : "Creando nueva region")</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Region" asp-action="@(editMode ? "Edit":"Create")">

                        <div class="mb-3">
                            <label class="form-label" asp-for="Name">Nombre de la region: </label>
                            <input class="form-control" type="text" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="Region" asp-action="Index" class="btn btn-warning">Cancelar</a>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>




