@using PokePoke.Core.Application.ViewModels.Tipo;
@model SaveTipoViewModel;
@{
    ViewData["Title"] = "Eliminar Tipo";
}

<div class="container">

    <div class="row">

        <img class="bd-placeholder-img"
             width="40"
             height="290"
             src="https://e7.pngegg.com/pngimages/296/68/png-clipart-pokemon-pokemon.png"
             role="img"
             aria-label="Placeholder: 140x140"
             preserveAspectRatio="xMidYMid slice"
             focusable="false" />

        <div class="m-4 d-flex justify-content-center">

            <div class="col-lg-2">
                <h2 class="fw-normal">@Model.Name</h2>
                <p class="text-danger fw-bolder">Seguro que desea eliminar esta region?</p>
                <form method="post" asp-controller="Tipo" asp-action="DeletePost">
                    <input type="hidden" asp-for="Id" />
                    <div class="btn-group">
                        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                        <a asp-controller="Tipo" asp-action="Index" class="btn btn-sm btn-warning">Cancelar</a>
                    </div>
                </form>
            </div>


        </div>


    </div>

</div>


